<h1>Edit a recipe</h1>

<%= form_tag "/recipe/#{@recipe.id}", method: :patch do %>
  <div>Title: <input type="text" name="title">
    </div>
  <div>Title: <input type="text" name="title">
    </div>
  <div>Title: <input type="text" name="title">
    </div>
  <div>Title: <input type="text" name="title">
    </div>
    <input class="btn btn-sucess">